In [1]:
MyRange= spark.range(1000).toDF("number")
divisby2 = MyRange.where("number % 2 = 0 ")
divisby2.count()
#divisby2.show()

Upload Flight file 2015

In [3]:
flightData2015=spark\
.read\
.option("header","true")\
.option("inferSchema","true")\
.csv("/FileStore/tables/2015_summary-ebaee.csv")

flightData2015.show()

In [4]:
flightData2015.sort("count").show()

In [5]:
#oldDF.createOrReplaceTempView("newDF") into table or temp View
flightData2015.createOrReplaceTempView("flight_data_2015")

In [6]:
sqlWay = spark.sql("""
SELECT DEST_COUNTRY_NAME,count(*)
FROM flight_Data_2015
GROUP BY DEST_COUNTRY_NAME
""")


dataFrameWay = flightData2015\
.groupBy("DEST_COUNTRY_NAME")\
.count()

sqlWay.explain
dataFrameWay.explain

In [7]:
# le max des count
from pyspark.sql.functions import max
flightData2015.select(max("count")).take(1)

In [8]:
# les 5 premiers sum(count) w/ spark.sql
maxSql = spark.sql("""
SELECT DEST_COUNTRY_NAME, sum(count) as destination_total
FROM flight_Data_2015
GROUP BY DEST_COUNTRY_NAME
ORDER BY sum(count) DESC
LIMIT 5
""")
maxSql.show()

In [9]:
# les 5 premiers en utilisant les DFs 
from pyspark.sql.functions import desc
flightData2015\
.groupBy("DEST_COUNTRY_NAME")\
.sum("count")\
.withColumnRenamed("sum(count)","destination_total")\
.sort(desc("destination_total"))\
.limit(5)\
.show()